body {
    background-color:rgba(203,195,227,0.31);
    margin: 0px;
   
}

#flashListSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.IndTerm{
    margin-bottom:16px;
    padding:35px;
    border-radius: 5px;
    background-color: white;
    width:600px
}

.inputsForm{
    display: flex; 
   justify-content: space-between;
   
}

.termDiv, 
.defDiv{
    display: flex; 
    flex-direction: column;
    width:46%;
}

input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
}